header {
  display: flex;
  background-color: #2a2e32;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  padding-right: 5px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* 1. IZQUIERDA*/

.izquierda {
  flex: 0 1 200px;
  display: flex;
  align-items: center;
  min-width: 0; /*Para que el contenedor no se haga más pequeño que la imagen*/
}

a {
  display: flex;
  align-items: center;
  width: 100%;
}

img.encabezado-unir {
  max-height: 50px;
  max-width: 100%;
  height: auto;
  border-radius: px;
  object-fit: contain;
  transition: all 0.3s ease;
}

/* 2. CENTRO*/

.centro {
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 0; /* para que el centro se estreche sin alterar los lados*/
  margin: 0 15px;
}

/* .logo-app {
  max-height: 80px; 
  height: auto;
  max-width: 100%;
  min-width: 120px; 
  object-fit: contain;
  transition: transform 0.3s ease;
} 
*/

.encabezado-unir:hover, .user-icon:hover {
  transform: scale(1.05);
}

h3 {
  color: rgb(241, 241, 241);
  
  transition: transform 0.3s ease;
}

button.principal {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  font-size: 20px;
  max-width: 100%;
}

/* 3. DERECHA*/

.derecha {
  flex: 0 1 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
}

.user-icon {
  max-height: 80px;
  height: auto;
  max-width: 100%;
  min-width: 120px;
  margin-top: 15px;
  object-fit: contain;
  filter: brightness(0) invert(1);
  cursor: pointer;
  
  transition: transform 0.3s ease;
}
