* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e7e7e7;
  color: #000000;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
   
}

button{
  cursor: pointer;
}