<div class="contenedor-botones">
  <button appButton (click)="alCancelar()">
    Cancelar
    <span ngProjectAs="icono"
      ><img class="especificas" src="cancelar.png" alt="Imagen de lupa"
    /></span>
  </button>

  <button appButton (click)="alGuardarYSalir()">
    Guardar y salir
    <span ngProjectAs="icono"
      ><img class="especificas" src="guardar-y-salir.png" alt="Imagen de disco"
    /></span>
  </button>

  <button appButton (click)="alGuardar()">
    Guardar
    <span ngProjectAs="icono"
      ><img class="especificas" src="guardar.png" alt="Imagen de disco"
    /></span>
  </button>
</div>

<form [formGroup]="miFormulario">
  <h3>Nuevo registro de Incidencia:</h3>

  <hr />
  <br />

  <div class="form-container">
    <div class="form-row">
      <label for="titulo">Título:</label>
      <input type="text" id="titulo" name="titulo" required formControlName="titulo" />
    </div>

    <div class="form-row">
      <label for="descripcion">Descripción:</label>
      <textarea
        id="descripcion"
        name="descripcion"
        rows="4"
        cols="50"
        required
        formControlName="descripcion"
      ></textarea>
    </div>
    <div class="separacion-Y"></div>

    <div class="form-row">
      <label for="estado">Estado:</label>
      <input
        class="input-corto"
        type="text"
        id="estado"
        name="estado"
        required
        formControlName="estado"
      />
      <div class="separacion-X"></div>
      <label for="abiertoPor">Abierto por:</label>
      <input
        class="input-corto"
        type="text"
        id="abiertoPor"
        name="abiertoPor"
        required
        formControlName="abiertoPor"
      />
      <div class="separacion-X"></div>
      <label for="prioridad">Prioridad:</label>

      <select
        class="input-corto"
        type="text"
        id="prioridad"
        name="prioridad"
        required
        formControlName="prioridad"
        [class.critica]="miFormulario.get('prioridad')?.value === 'Crítica'"
        [class.alta]="miFormulario.get('prioridad')?.value === 'Alta'"
        [class.media]="miFormulario.get('prioridad')?.value === 'Media'"
        [class.baja]="miFormulario.get('prioridad')?.value === 'Baja'"
        (change)="actualizarFechaLimite()"
      >
        @for (prioridad of prioridades(); track $index) {
          <option [value]="prioridad">{{ prioridad }}</option>
        }
      </select>
    </div>

    <div class="form-row">
      <label for="fechaApertura">Fecha Apertura:</label>
      <input
        class="input-corto"
        type="text"
        id="fechaApertura"
        name="fechaApertura"
        [value]="miFormulario.get('fechaApertura')!.value | date: 'dd/MM/yyyy HH:mm'"
        required
        disabled
      />
      <div class="separacion-X"></div>

      <label for="fechaLimite">Fecha Límite:</label>
      <input
        class="input-corto"
        type="text"
        id="fechaLimite"
        name="fechaLimite"
        [value]="miFormulario.get('fechaLimite')!.value | date: 'dd/MM/yyyy HH:mm'"
        disabled
      />
    </div>

    <div class="separacion-Y"></div>

    <div class="form-row">
      <label for="areaAfectada">Área Afectada:</label>
      <select
        class="input-corto"
        id="areaAfectada"
        name="areaAfectada"
        required
        formControlName="areaAfectada"
      >
        @for (area of areas(); track $index) {
          <option [value]="area.nombreArea">{{ area.nombreArea }}</option>
        }
      </select>
      <div class="separacion-X"></div>
      <label for="grupo">Grupo:</label>
      <select class="input-corto" type="text" id="grupo" name="grupo" formControlName="grupo">
        @for (grupo of grupos(); track $index) {
          <option [value]="grupo.idGrupo">{{ grupo.nombreGrupo }}</option>
        }
      </select>
      <div class="separacion-X-max"></div>

    </div>
  </div>
  <div class="separacion-Y"></div>
</form>
