.layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 16px;
  box-sizing: border-box;
  min-height: 0%;
}

.sidebar {
  position: fixed;
  width: 15%;
  min-height: 100%;
  align-self: stretch;
  padding-top: 10px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: all 0.1s ease;
  
}

.sidebar-oculta {
  position: fixed;
  width: 80px;
  min-height: 100%;
  align-self: stretch;
  padding-top: 10px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: all 0.1s ease;
}


.body-aplicacion {
  position: fixed;
  margin-left: 16%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-bottom: 2%;
  padding-right: 1%;
  padding-left: 1%;
  width: auto;
  overflow: auto;
  bottom: 0;
  top: 60px;
  left: 0;
  right: 0;
  transition: margin-left 0.1s ease;


}

.body-aplicacion-full {
  position: fixed;
  margin-left: 5%;
  margin-right: 1%;
  margin-top: 1%;
  padding-left: 1%;
  width: auto;
  overflow: auto;
  bottom: 0;
  top: 60px;
  left: 0;
  right: 0;
  padding-right: 1%;
  transition: margin-left 0.1s ease;
}

.derecha {
  display: flex;
}

button.aside {
  margin-bottom: 1%;
  margin-right: 1%;
  background-color: white;
  border: none;

  margin-left: auto;
}

button.aside:hover {
  transform: translateY(-2px);
}

img.especificas {
  width: 40px;
  height: auto;
  margin-right: 10px;
  margin-top: 3px;
  filter: brightness(0);
}

.contenedor-botones {
  display: flex;
  gap: 5px;
  align-items: center;
}

.espejo{
  transform: rotateY(180deg);
}

