button {
  margin-bottom: 1%;
  margin-right: 1%;
}

img.especificas {
  width: auto;
  height: 20px;
  margin-right: 10px;
  margin-top: 3px;
}

button img.especificas {
  filter: brightness(1);
}

.contenedor-botones {
  display: flex;
  gap: 5px;
  align-items: center;
}